.Footer{
    display: flex;
    font-style: oblique;
    font-weight: bold;
justify-content: space-between;
background-color: rgb(188, 207, 14);
}
.Badge{
    background-color: red;
}


@media screen and (max-width: 1040px) {
    .Footer{
        flex-direction: column;
        font-style: oblique;
        font-weight: bold;
    justify-content: space-between;
    background-color: rgb(188, 207, 14);
    padding: 2rem;
    }

.Footer-abt{
    margin-top: 4rem;
}
.Badge{
    background-color: red;
}

}